body{
  background-color: black;
}
h1 {
    color: red;
}
#herolist {
  font-weight: bold;
  color: white;
}
#villainlist {
  font-weight: bold;
  color: white;
}

#imgheading
{
    display:flex;
    justify-content:center;
    background-color:black;
}

.log
{
    
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fe2021;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.bigdickenergy {
  /*Manny, Remember to put this below the tabs*/
  display: flex;
  flex-direction:column;
  align-items:center;
  
}
.tab{
    display:flex;
    justify-content:center;
}

#search-row{
    display:flex;
    justify-content:flex-end;
}

#search-term{
    border-radius:500px;
}

.bigbutton{
    border-radius:500px;
}
#yikes {
}
.tablinks {
  color: white;
}
.text {
  color: white;
  text-align: center;
}
#yoot:first-letter{
    display:block;
    float:left;
    color:#f00;
    font-size:200%;
}

.ad{
    display:block;
    width:75%;
}